
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 100px;
          
        }
nav {
    background-color: #222;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

        .container {
            width: 20%;
            margin: auto;
            background-color: white;
            padding: 20px;	
            text-align: center;
		border:1px solid-black;
	margin-top:5px;
	border-radius:8px
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #555;
	padding:50px;
        }

        img {
            width: 1100px;
            margin: 100px 0;
            border-radius: 10px;
            padding:50px;
			 margin-top: 20px;
        }

        ul {
            list-style:Arial;
            padding: 0;
        }

        ul li {
            background-color: #e0e0e0;
            margin: 8px;
            padding: 10px;
            border-radius: 5px;
        }

        .price {
            font-size: 24px;
            color: green;
            font-weight: bold;
      }
		.btn {
 		display: inline-block;
   		padding: 12px 25px;
  		margin: 10px;
    		text-decoration: none;
  		color: black;
    		border-radius: 5px;
    		font-weight: bold;
}
    margin-top: 20px;
}
        input, textarea {
            width: 60%;
            padding: 8px;
            margin: 8px 0;
        }

        input[type="submit"] {
            background-color: #333;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: green;
        }

        footer {
            margin-top: 30px;
            color: gray;
        }
   img {
            width: 500px;
            margin: 100px 0;
            border-radius: 10px;
            padding:50px;
        }



